body {
    background-color: #111122;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #3071a9;
}

a {
    color: #00B7FF;
}
.chat {
    font-style:italic;
    width: 150px;
    float: right;
}